@import "../../styles/common";

.view {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: cornsilk;
    padding: 5px 0;
    border-bottom: 1px solid #eee;

    .payInfo {
        display: flex;
        flex-direction: column;

        .payDesc {
            font-size: 14px;
            font-weight: 600;
        }

        .payType {
            font-size: 12px;
        }

        .payDate {
            font-size: 12px;
            color: #666;
        }
    }

    .payMenoy {
        font-size: 20px;
        margin: auto 0;
        color: red;
    }

    .edit {
        margin: auto 0;

        button {
            @include button('50px', '26px');
            margin-right: 20px;
            border-radius: 3px;
            background-color: deepskyblue;
        }
    }
}
