@import "../../styles/common";

.view {
    width: 100%;
    height: 100%;

    .header {
        width: 100%;
        height: 40px;
        background-color: black;
        display: flex;
        justify-content: space-between;

        .menuLink {
            text-decoration: none;
            color: antiquewhite;
            line-height: 40px;
            font-size: 14px;
            font-weight: 600;
            padding: 0 20px;
        }

        .menuLinkActive {
            text-decoration: aqua;
        }

        .userInfo {
            display: flex;
            align-items: center;
            margin-right: 20px;

            .userName {
                color: aqua;
                margin-right: 10px;
            }

            .logoutBtn {
                @include button(auto, 22px);
            }
        }
    }

    .content {
        width: 100%;
        height: calc(100% - 40px);
    }
}
