.view {
    width: 40%;
    height: 100%;
    display: flex;
    margin: 20px auto;
    flex-direction: column;

    .content {
        display: flex;
        width: 100%;
        flex-direction: column;
        border: 1px solid slateblue;
        padding: 10px;
        border-radius: 5px;

        .recodeInfo {
            display: flex;
            width: 100%;
            margin: 5px auto;
            justify-content: space-between;
            line-height: 32px;
            display: flex;

            .recodeInfoName {
                width: 20%;
                text-align: center;
            }

            .recodeInfoValue {
                width: 70%;
                text-align: center;
                border: 1px solid royalblue;
                border-radius: 3px;
                display: flex;
                height: 32px;

                input,select{
                    border: none;
                    line-height: 30px;
                    outline-color: #17e3e0;
                    flex: 1;
                    text-align: center;

                    option{
                        outline-color: red;
                        border-color: blueviolet;
                    }
                }

                span{
                    flex: 1;
                }
            }
        }
    }

    .btns {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        button{
            width: 84px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid deepskyblue;
            margin: 0 10px;
            background-color: deepskyblue;
            color: #ffffff;
        }
    }
}

.hide {
    display: none !important;
}

.show {
    display: inherit !important;
}
