@import "../../styles/common";

.view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url("/src/images/bg.jpg") no-repeat;
    background-size: 100% 100%;

    .title {
        height: 40%;
        width: 100%;

        .titleSVG {
            width: 100%;
        }
    }

    .login {
        height: 60%;
        width: 30%;
        display: flex;
        flex-direction: column;
        margin: auto;

        .labelInput {
            width: 100%;
            display: flex;
            flex-direction: row;
            line-height: 32px;
            margin-top: 10px;
            color: rgba(13, 217, 226, 1);

            .labelDom {
                width: 20%;
            }

            .inputDom {
                width: 50%;
                border-radius: 5px;
                background: border-box;
                outline: none;
                border: 1px solid rgba(13, 217, 226, 0.6);
                color: #ffffff;
            }

            .checkCode {
                width: 20%;
                font-size: 18px;
                letter-spacing: 6px;
                margin: auto;
                cursor: pointer;
                background-color: rgba(30, 30, 187, 0.5);
                text-align: center;
                border-radius: 3px;
            }
        }

        .bnts {
            width: 100%;
            display: flex;
            margin-top: 20px;
            justify-content: center;

            button {
                @include button();
                padding: 0 30px;
                background-color: rgb(23, 227, 224);
                border-radius: 5px;
            }
        }
    }
}
